body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: rgb(185, 164, 206);
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    display: flex;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    padding: 15px 10px;
}

.dropdown {
    float: right;
    Overflow: hidden;
}

.dropdown .dropdownButton {
    border-radius: one;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 16px;
}

.dropdownContent {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
}


.dropdownContent a:hover {
    background-color: black;
    color: red;
}

.container{
    text-align: left;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

}

.image-container {
    width: 33%;
}

.image-container img {
    width: 120px;
}

.button {
    text-decoration: none;
    padding: 15px 20px;
    background-color: rgb(155, 122, 185);
    border-radius: 5px;
    display: inline-block;
}
.column {
    float: left;
    width: 31.33%;
    padding: 15px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 640px) {
    .column {
        width: 100%;

    }


}

input [type=text] {
    width: 94%;
    padding: 13px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    outline: none;
}
.footer {
    text-align: center;
    background-color: red;
    padding: 20px 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*
key : value pair
color: red
font-size: 15px
*/
